* {
	box-sizing: border-box;
}

body {
	background: black;
}

.canvas {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: white;
	position: relative;
}
#table {
	width: 700px;
	height: 100px;
	background: #f7d15f;

	position: absolute;
	bottom: 20px;
	left: 100px;

	transform: skew(20deg);

	z-index: 1;
}

#mat {
	border-bottom: 70px solid #d7fd04;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	height: 0;
	width: 300px;

	position: absolute;
	bottom: 40px;
	left: 300px;
	z-index: 2;
}

#apple {
	display:block;
   width: 30px;
   height: 33px;
   background-color: red;
   position: absolute;
	bottom: 80px;
	left: 450px;
   border-radius: 50%  50%  50%  50%  / 30%   40%   60%  60%;
   z-index: 4;

}

#apple-branch {
	display:block;
   width: 3px;
   height: 8px;
   background-color: #754704;
   position: absolute;
	bottom: 108px;
	left: 465px;
   
   z-index: 5;

}

#apple-shadow {
	width: 30px;
	height: 12px;
	background: #0a7703;
	position: absolute;
	bottom: 74px;
	left: 450px;
	
	z-index: 3;
	filter: blur(8px);

	animation-name: shadow;
	animation-duration: 10s;
	animation-iteration-count: infinite;

}

#cherry-shadow {
	width: 10px;
	height: 8px;
	background: #0a7703;
	position: absolute;
	bottom: 60px;
	left: 455px;
	
	z-index: 3;
	filter: blur(5px);

	animation-name: shadow;
	animation-duration: 10s;
	animation-iteration-count: infinite;

}

#candle-shadow {
	width: 40px;
	height: 12px;
	background: #0a7703;
	position: absolute;
	bottom: 90px;
	left: 400px;
	
	z-index: 4;
	filter: blur(8px);

	animation-name: shadow;
	animation-duration: 10s;
	animation-iteration-count: infinite;

}

#skull-shadow {
	width: 90px;
	height: 8px;
	background: #0a7703;
	position: absolute;
	bottom: 90px;
	left: 500px;
	
	z-index: 3;
	filter: blur(8px);

	animation-name: shadow;
	animation-duration: 10s;
	animation-iteration-count: infinite;

}

@keyframes shadow {
	0%{
		transform: translateX(0px) scaleX(1);
	}
	50%{
		transform: translateX(-15px) scaleX(2);
	}
	100%{
		transform: translateX(0px) scaleX(1);
	}

}

#cherry {
	display:block;
   width: 15px;
   height: 12px;
   background-color: #6f0303;
   position: absolute;
	bottom: 60px;
	left: 450px;
   border-radius: 50%  50%  50%  50%  / 30%   40%   60%  60%;
   z-index: 6;

}

#candle {
	display:block;
   width: 40px;
   height: 80px;
   background-color: #f7f2bb;
   position: absolute;
	bottom: 90px;
	left: 400px;
   border-radius: 50% / 10%;
   z-index: 5;

}

#candle-fire {
	display:block;
   width: 4px;
   height: 10px;
   background-color: #ff9800;
   position: absolute;
	bottom: 165px;
	left: 420px;
   border-radius: 50% / 50%;
   z-index: 6;

}

#skull {
  display:block;
  width: 90px;
  height: 80px;
  background-color: #efeddb;
  position: absolute;
	bottom: 90px;
	left: 500px;
   border-radius: 90%  60%  60%  60%  / 90%   60%   20%  10%;
   z-index: 7;
}

#skull-eye {
  display:block;
  width: 15px;
  height: 15px;
  background-color: black;
  position: absolute;
	bottom: 120px;
	left: 520px;
   border-radius: 50%  50%  50%  50%  / 50%   60%   50%  50%;
   z-index: 8;
}










